/* nav {
    display: flex;
    align-items: center;
    padding: 15px;
    background: #333;
    color: white;
    width: 100%;
    position: fixed;
}

nav span {
    font-size: 1.5em;
    cursor: pointer;
}

nav a {
    color: inherit;
    padding-left: 30px;
    cursor: pointer;
}

@media only screen and (max-width: 1000px) {
    nav {
        flex-direction: column;
        text-align: center;
        padding: 15px 0;
        position: static;
    }

    nav span {
        margin-bottom: 15px;
    }

    nav a {
        padding-left: 0;
    }
} */