<!-- <nav>
  <span routerLink="/home">Lube-Tech IT</span>
  <a>News</a>
  <a>Lunch &amp; Learns</a>
  <a routerLink="/challenges">Challenges</a>
</nav> -->

<!--Navbar-->
<nav class="navbar navbar-expand-lg">

  <a class="navbar-brand" routerLink="/home">Lube-Tech IT</a>

  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="basicExampleNav">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lunch &amp; Learns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/challenges">Challenges</a>
      </li>
    </ul>

  </div> -->
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->