body {
    margin: 0;
    color: #333;
    font-family: 'Titillium Web';
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

a {
    color: #00AD80;
    cursor: pointer;
}
