<div id="content">
  <h1>Welcome!</h1>
  <p>This is the official app for Lube-Tech's IT department.</p>
  <div id="options">
    <div>
      <span>News</span>
      <span>Latest: Latest</span>
      <a>See more</a>
    </div>
    <div>
      <span>Lunch &amp; Learns</span>
      <span>Title, date, time</span>
      <a>See more</a>
    </div>
    <div>
      <span>Challenges</span>
      <span>Current Challenge: <a routerLink="/july2018">July 2018 100 Mile</a></span>
      <a routerLink="/challenges">See more</a>
    </div>
  </div>
</div>